EXPLAIN_PAGE_IMAGE=123456789012.dkr.ecr.ap-northeast-2.amazonaws.com/prod-explain-page:latest
EXPLAIN_PAGE_APP_PORT=3000
EXPLAIN_PAGE_SERVER_NAME=myeditor.n-e.kr

NEXT_PUBLIC_GATEWAY_BASE_URL=https://api.myeditor.n-e.kr
NEXT_PUBLIC_SSO_BASE_URL=https://api.myeditor.n-e.kr
NEXT_PUBLIC_GATEWAY_AUTH_LOGIN_PAGE=explain
NEXT_PUBLIC_START_FRONTEND_URL=https://editor.myeditor.n-e.kr
NEXT_PUBLIC_SSO_CONSUMER_CALLBACK_URL=https://editor.myeditor.n-e.kr/auth/callback

NEXT_PUBLIC_TITLE=Frontend UI
NEXT_PUBLIC_DESCRIPTION=Frontend UI service
NEXT_PUBLIC_COPY=© 2026 Frontend UI
